<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
        <div class="col-xs-12">
            <div class="col-xs-2">
                <label for="name">Name</label>
            </div>
            <div class="col-xs-8">
                <input class="form-control" id="name" name="name" ngModel >
            </div>
        </div>
        <div class="col-xs-12 padding-top-15">
            <div class="col-xs-2">
                <label for="description">Description</label>
            </div>
            <div class="col-xs-8">
                <input class="form-control" id="description" name="description" ngModel >
            </div>
        </div>
        <div class="col-xs-12 padding-top-15">
            <div class="col-xs-2">
                <label for="price">Price</label>
            </div>
            <div class="col-xs-8">
                <input class="form-control" id="price" name="price" ngModel >
            </div>
      
        </div>
        <div class="col-xs-12 padding-top-15">
            <button class="btn btn-primary col-xs-offset-5">Submit</button>
        </div>
    </div>
</form>
